body {
  color: #333;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todo {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
}

header {
  color: #fff;
  background-color: #333;
  text-align: center;
  padding: 1rem 0;
}

.main {
  flex: 1;
  margin: 0 auto;
  width: 60%;
  padding: 2rem 0;
}

.main ul {
  list-style-type: none;
  padding-left: 0;
}

.main ul li {
  padding: 0.7rem 0 0.7rem 1rem;
  border-bottom: solid #333 1px;
}

.main ul li input{
  display: inline-block;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 768px) {
  .main ul li input {
    width: 90%;
  }
}

.main ul li a{
  vertical-align: top;
}

footer {
  color: #fff;
  background-color: #666;
  text-align: center;
  padding: 1rem 0;
}

a {
  color: #333;
}

a:hover {
  color: #666;
}

footer a {
  font-weight: bold;
  color: inherit;
}

footer a:hover {
  color: inherit;
  text-decoration: none;
}

header a {
  color: #666;
}

.form-control {
  color: #333;
}

input.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
  border-color: rgba(108,117,125,.5);
}

li .list-form {
  height: unset;
  border: none;
  padding: 0;
}
input.form-control:focus {
  box-shadow: none;
}

.btn-outline-secondary {
  outline: 0;
}